@font-face {
  font-family: "Futura PT";
  src: url("../fonts/FuturaPTBook.woff2") format("woff2"), url("../fonts/FuturaPTBook.woff") format("woff");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Futura PT";
  src: url("../fonts/FuturaPTMedium.woff2") format("woff2"), url("../fonts/FuturaPTMedium.woff") format("woff");
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

:root {
  --accent-color: #5d71dd;
  --black-color: #2f2222;
  --grid-gap: 40px;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.container {
  max-width: 1430px;
  padding: 0 15px;
  margin: 0 auto;
}

.phone {
  font-weight: 500;
  font-size: 18px;
  color: var(--accent-color);
  background-image: url(../img/phone.svg);
  background-position: left center;
  background-repeat: no-repeat;
  padding-left: 24px;
}

.content {
  padding-top: var(--grid-gap);
  padding-bottom: 100px;
}

.blog-title {
  margin: 0;
  font-weight: 500;
  font-size: 24px;
  color: var(--black-color);
  line-height: 31px;
}

body {
  overflow-anchor: none;
  margin: 0;
  font-family: "Futura PT", sans-serif;
  font-weight: 400;
  background-color: #f9f9f9;
}

.header {
  padding: 6px 0 4px 0;
  background-color: #fff;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

.header__nav {
  margin-right: var(--grid-gap);
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__link {
  position: relative;
  font-size: 18px;
  color: var(--black-color);
  -webkit-transition: ease color 0.2s;
  transition: ease color 0.2s;
}

.nav__link:hover::after {
  color: var(--accent-color);
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: var(--accent-color);
}

.nav__link:hover {
  color: var(--accent-color);
}

.nav__item:not(:last-child) {
  margin-right: var(--grid-gap);
}

.nav__link--current {
  color: var(--accent-color);
}

.nav__link--current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: currentColor;
}

.banner {
  height: 300px;
  background-image: url(../img/banner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: var(--grid-gap);
}

.post {
  grid-column: 3 span;
}

.post-grid__item:nth-child(5n + 1) {
  grid-column: 2 span;
  grid-row: 2 span;
}

.post-grid__item:nth-child(5n + 2) {
  grid-row: 2 span;
}

.post-grid__item:nth-child(5n + 2) .blog-post {
  background-color: var(--accent-color);
  padding-left: 30px;
  padding-right: 30px;
}

.post-grid__item:nth-child(5n + 2) .blog-post__category {
  background: #7d8de4;
  color: #fff;
}

.post-grid__item:nth-child(5n + 2) .blog-post__title {
  color: #fff;
}

.post-grid__item:nth-child(5n + 2) .blog-post__date {
  top: auto;
  right: auto;
  bottom: var(--grid-gap);
  left: 30px;
  color: #fff;
}

.post-grid__item:nth-child(5n + 2) .blog-post__descr {
  display: none;
}

.post-grid__item:nth-child(5n + 3) {
  grid-row: 2 span;
}

.post-grid__item:nth-child(5n + 3) .blog-post {
  background-color: var(--accent-color);
  padding-left: 30px;
  padding-right: 30px;
}

.post-grid__item:nth-child(5n + 3) .blog-post__category {
  background: #7d8de4;
  color: #fff;
}

.post-grid__item:nth-child(5n + 3) .blog-post__category--gray {
  background: rgba(255, 255, 255, 0.2);
}

.post-grid__item:nth-child(5n + 3) .blog-post__title {
  color: #fff;
}

.post-grid__item:nth-child(5n + 3) .blog-post__date {
  top: auto;
  right: auto;
  bottom: var(--grid-gap);
  left: 30px;
  color: #fff;
}

.post-grid__item:nth-child(5n + 3) .blog-post__descr {
  display: none;
}

.post-grid__item:nth-child(5n + 4) {
  grid-column: 2 span;
}

.post-grid__item:nth-child(5n + 4) .blog-post {
  padding-top: 30px;
  padding-bottom: 30px;
}

.post-grid__item:nth-child(5n + 4) .blog-post__date {
  top: 30px;
}

.post-grid__item:nth-child(5n + 4) .blog-post__category {
  margin-bottom: 20px;
}

.post-grid__item:nth-child(5n + 4) .blog-post__descr {
  display: none;
}

.post-grid__item:nth-child(5n + 5) {
  grid-column: 2 span;
}

.post-grid__item:nth-child(5n + 5) .blog-post {
  padding-top: 30px;
  padding-bottom: 30px;
}

.post-grid__item:nth-child(5n + 5) .blog-post__date {
  top: 30px;
}

.post-grid__item:nth-child(5n + 5) .blog-post__category {
  margin-bottom: 20px;
}

.post-grid__item:nth-child(5n + 5) .blog-post__descr {
  display: none;
}

.post-grid {
  margin-bottom: 90px;
  -ms-grid-rows: (180px)[8];
      grid-template-rows: repeat(8, 180px);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: var(--grid-gap);
}

.blog-post {
  position: relative;
  padding: var(--grid-gap);
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 20px;
}

.blog-post--main {
  height: 280px;
  margin-bottom: var(--grid-gap);
}

.blog-post__category {
  position: relative;
  z-index: 5;
  margin-bottom: 30px;
  display: inline-block;
  padding: 8px 17px;
  background: #f7f8fd;
  border-radius: 8px;
  font-size: 16px;
  line-height: 21px;
  color: var(--accent-color);
}

.blog-post__title {
  margin: 0 0 20px 0;
}

.blog-post__link::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.blog-post__descr {
  padding-right: var(--grid-gap);
  margin: 0;
  font-size: 18px;
  line-height: 23px;
  color: rgba(47, 34, 34, 0.4);
}

.blog-post__date {
  color: rgba(47, 34, 34, 0.4);
  position: absolute;
  font-size: 16px;
  line-height: 21px;
  top: var(--grid-gap);
  right: var(--grid-gap);
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pagination__link {
  position: relative;
  font-size: 18px;
  line-height: 23px;
  -webkit-transition: ease color 0.2s;
  transition: ease color 0.2s;
}

.pagination__link:hover::after {
  color: var(--accent-color);
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: var(--accent-color);
}

.pagination__link:hover {
  color: var(--accent-color);
}

.pagination__link--current {
  color: var(--accent-color);
}

.pagination__link--current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: var(--accent-color);
}

.pagination__link--btn {
  font-size: 18px;
  line-height: 23px;
  color: var(--accent-color);
}

.pagination__item:not(:last-child) {
  margin-right: 20px;
}

.pagination__arrow {
  width: 10px;
  height: 10px;
  border-top: 1px solid var(--accent-color) !important;
  border-right: 1px solid var(--accent-color) !important;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  display: inline-block;
  -webkit-transition: 1s;
  transition: 1s;
}

.popular-posts {
  margin-bottom: 32px;
}

.popular-posts__title {
  margin-bottom: 21px;
}

.popular-posts__article {
  padding: 0;
  padding-top: 9px;
  padding-bottom: 9px;
  background: transparent;
  border-radius: 0;
  border: 1px solid rgba(47, 34, 34, 0.1);
}

.popular-posts__article:last-child {
  border-bottom: 1px solid transparent;
}

.popular-posts__article .blog-post__title {
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 10px;
  font-weight: 400;
}

.popular-posts__article .blog-post__date {
  position: initial;
  font-size: 18px;
  line-height: 23px;
}

.subscribe {
  padding: var(--grid-gap) 0;
  border-radius: 20px;
  background: #fff;
}

.subscribe__title {
  text-align: center;
  margin-bottom: 30px;
}

.sub-form {
  padding: 0 30px;
}

.sub-form__input {
  width: 100%;
  height: 50px;
  background: #f5f5f5;
  border: none;
  border-radius: 20px;
  padding-left: 30px;
  font-family: "Futura PT", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: rgba(47, 34, 34, 0.4);
  display: block;
  margin-bottom: 20px;
}

.sub-form__btn {
  background: var(--accent-color);
  border-radius: 20px;
  width: 100%;
  height: 50px;
  font-size: 18px;
  line-height: 23px;
  color: #fff;
  padding: 13px 0px 14px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sub-form__btn span {
  margin-right: 10px;
}

.footer {
  padding-top: var(--grid-gap);
  background: rgba(93, 113, 221, 0.05);
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__logo {
  display: inline-block;
  margin-bottom: var(--grid-gap);
}

.footer__nav {
  margin-bottom: 65px;
}

.footer__nav .nav__item:not(:last-child) {
  margin-right: 80px;
}

.footer__copyright {
  font-size: 14px;
  line-height: 18px;
  color: var(--black-color);
  font-weight: 400;
  margin-bottom: 40px;
}
/*# sourceMappingURL=style.css.map */